body {
	min-height: 100vh;
}

.main-match-container {
	border: 0.5px solid #333333;
	padding: 2px;
	background-color: #ffc033;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

a, a:hover {
    color: #000000;
}

a.back {
    position: relative;
    margin-left: 2rem;
    top: 1rem;
}

.forecast-panel {
	padding: 2px;
	margin-top: 10px;
}

.forecast-submit-button {
	margin: 20px 12px 12px 50px;
}
.forecast-submit-button button {
	padding: 8px 18px 8px 18px;
}
.duel-status-container {
	
	border: 0.5px solid #333333;
	padding: 1.5rem;
	background-color: #ffc033;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.affinityPicker {
	padding: 3px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.affinityPicker span {
	font-weight: 700;
	font-size: 1.5em;
	margin-right: 10px;
}
.affinityPicker button {
	margin-left: 8px;
}
.affinityIcon {
	width: 42px;
	height: 42px;
}
.affinitySelectedFire {
	background-color: #ff809b;
}
.affinitySelectedWater {
	background-color: #35d1e7;
}
.affinitySelectedWind {
	background-color: #8bea63;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:320px)  {
	.main-match-container {
		display: inline-block;
	}
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px)  {
	.main-match-container {
		display: inline-block;
	}
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:610px)  {
	.main-match-container {
		display: inline-block;
	}
	.container.container-fluid.main-content {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	h3 {
		text-align: center;
	}
	.forecast-panel {
		margin-right: 0.3rem;
	}
}

