body {
    background-image: url('../img/gridPatternYellow.svg');
    /*background-color: #ffffff;*/
}

a, a:hover {
    color: #000000;
}

a.back {
    position: relative;
    margin-left: 2rem;
    top: 1rem;
}

.jumbotron {
    background-color: #ffc033;
}

.underline {
    text-decoration: underline;
}

.markets-not-found {
    padding: 2rem;
    background-color: #ffc033;
    border-radius: 4px;
    margin-top: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.markets.wrapper {
    margin-top: 4.5rem;
}

.card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.img-fluid {
    max-width: 100%;
    height: 450px;
    margin: auto;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

div.tags,
div.category {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

span.tag,
span.category {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
}

span.category {
    background-color:#ff809b;
    color: #ffffff;
}

span.tag {
    background-color: #333333;
    color: #ffffff;
}

div.wrapper.mount-wrapper.exit-coi {
    cursor: wait;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
}

div.wrapper.mount-wrapper.exit-coi .jumbotron {
    background-color: #ffffff;
}

div.augur-logo {
    display: block;
}

div.augur-logo a > img {
    margin: auto;
    max-width: 400px;
    height: auto;
    display: block;
}

/* Market Notifications */
div.alert-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
}

div.alert {
    min-width: 100vw;
    text-align: center;
}

.card-title {
    text-align: center;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    cursor: default;
    width: 90%;
    margin: auto;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:320px)  {
    .market-img-preview {
        height: auto !important;
        width: 100% !important;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px)  {
    .market-img-preview {
        height: auto !important;
        width: 100% !important;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:610px)  {
    .market-img-preview {
        height: auto !important;
        width: 100% !important;
    }
    span.tag {
        display: inline-flex;
    }
    pre {
        font-size: 1rem;
    }
}

