<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta name="description" content="Want to out manoeuvre your opponents? Predict their turns before they've been forecasted? Sharpen your rind in a free-to-play testnet environment? Grate no further, Cheeze of Insight is for you!">
    <meta property="og:description" content="Want to out manoeuvre your opponents? Predict their turns before they've been forecasted? Sharpen your rind in a free-to-play testnet environment? Grate no further, Cheeze of Insight is for you!">
    <meta property="og:image" content="https://cheezeofinsight.com/img/holiness.jpg">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@cheezeofinsight" name="twitter:site">
    <meta content="Cheeze of Insight" name="twitter:title">
    <meta content="Want to out manoeuvre your opponents? Predict their turns before they've been forecasted? Sharpen your rind in a free-to-play testnet environment? Grate no further, Cheeze of Insight is for you!" name="twitter:description">
    <meta content="@cheezeofinsight" name="twitter:creator">
    <meta content="https://cheezeofinsight.com/img/holiness.jpg" name="twitter:image:src">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Cheeze of Insight</title>

    <!-- CSS Imports -->
    <link href="css/adobe-type-kit.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap4-block-grid.min.css" rel="stylesheet">
    <link href="css/vuesax.css" rel="stylesheet">
    <link href="css/components.vue-simple-context-menu.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
    <!-- JS Imports -->
    <!-- jQuery is only for Firechat, sigh -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Firebase -->
    <script type="text/javascript" src="js/firebase.js"></script>
    <!-- Fire Chat -->
    <script type="text/javascript" src="node_modules/firechat/dist/firechat.js"></script>
    <!-- Vue.js -->
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/vuefire.js"></script>
    <script type="text/javascript" src="js/vuesax.js"></script>
    <script type="text/javascript" src="js/vue-simple-context-menu.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149958296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-149958296-1');
    </script>
</head>
<body>
<div id="cheese-of-insight" class="hidden">
    <div class="bg-melt bg-melter" v-bind:class="{transform: isBgAnimated}">
        <div class="melter" v-bind:class="{melts: isBgAnimated}"></div>
    </div>
    <nav class="navbar navbar-light">
        <span class="navbar-brand mb-0 h1 tk-exocet" >
            <a href="https://twitter.com/cheezeofinsight" target="_blank">Cheeze of Insight</a>
        </span>
        <span class="notification-count" v-if="notificationsCount > 0">
            <vs-icon icon="fiber_manual_record" size="small" round>{{ notificationsCount }}</vs-icon>
        </span>
        <a class="auth-main" v-on:click="login();" v-if="!userIsLoggedIn">Login</a>
        <a class="auth-main" v-on:click="logout();" v-if="userIsLoggedIn">Logout</a>
    </nav>
    <nav class="nav subnav justify-content-center">
        <a class="nav-link" v-on:click="setNavigation(LEARN);">Learn</a>
        <a class="nav-link" v-on:click="setNavigation(PLAY);">Play</a>
        <a class="nav-link" v-bind:class="{active: navigation.state == VIEW_ALL_WIZARDS || navigation.state == VIEW_SELECTED_WIZARD}" v-on:click="setNavigation(VIEW_ALL_WIZARDS);">Insights</a>
        <!--
        <a class="nav-link" v-bind:class="{active: navigation.state == PREDICT_MATCHES}" v-on:click="showPredictMatchOutcome();">Compare Wizards</a>
        -->
        <a class="nav-link" v-on:click="setNavigation(PREDICTION_MARKETS);">Predictions</a>
    </nav>

    <div class="container container-fluid main-content">
        <div class="wrapper mount-wrapper" v-cloak>

            <!-- Notifications - Alert (top ribbon) -->
            <div class="row alert-ribbon" v-if="notification.type">
                <!-- Alert - Primary -->
                <div class="alert alert-primary" role="alert" v-if="notification.type == 'alert' && notification.color == 'primary'">
                    <!-- Alert Text -->
                    <span class="notification-alert-body">{{notification.text}}</span>
                    <!-- Close Alert -->
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="retireAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Alert - Success -->
                <div class="alert alert-success" role="alert" v-if="notification.type == 'alert' && notification.color == 'success'">
                    <!-- Alert Text -->
                    <span class="notification-alert-body">{{notification.text}}</span>
                    <!-- Close Alert -->
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="retireAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Alert - Warning -->
                <div class="alert alert-warning" role="alert" v-if="notification.type == 'alert' && notification.color == 'warning'">
                    <!-- Alert Text -->
                    <span class="notification-alert-body">{{notification.text}}</span>
                    <!-- Close Alert -->
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="retireAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Alert - Danger -->
                <div class="alert alert-danger" role="alert" v-if="notification.type == 'alert' && notification.color == 'danger'">
                    <!-- Alert Text -->
                    <span class="notification-alert-body">{{notification.text}}</span>
                    <!-- Close Alert -->
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="retireAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <!-- Notifications - Pop-Up (top right) -->
            <notification>
                <vs-button id="notifier" slot="notification" @click="$vs.notify(notification)" type="flat"></vs-button>
            </notification>

            <!-- Chat Component (Sidebar) -->
            <sidebar>

                <!-- Header -->
                <div class="header-sidebar" slot="header">
                    <div class="wrapper" v-if="!userIsLoggedIn">
                        <p>
                            <a v-on:click="login();">Login</a>
                        </p>
                    </div>
                    <div class="wrapper sidebar-wrapper avatar" v-if="isWeb3Enabled && tokens.mainnet.wizards.length">
                        <!-- Wizard Avatar -->
                        <vs-avatar size="70px" :src="tokens.mainnet.wizards[0].image"/>
                    </div>
                    <div class="wrapper sidebar-wrapper" v-if="isWeb3Enabled">
                        <!-- Twitter Username -->
                        <span class="label-wrapper" v-if="chat">
                            <h5 v-if="userIsLoggedIn && usersOnline && chat.userData">{{ chat.userData.name }} - </h5>
                        </span>
                        <h5 v-if="wallets.mainnet">{{ wallets.mainnet }}</h5>
                    </div>
                </div>

                <!-- Body - Select Opponent / Active Chat Window -->
                <div class="chat-pane" slot="body">

                    <!-- Chat not connected -->
                    <div class="chat-invalid" v-if="!userIsLoggedIn">
                        <p>Please login to find online partners for test duels</p>
                    </div>

                    <!-- Select Opponent From Online Users -->
                    <div class="select-duel-partner" v-else-if="userIsLoggedIn && chatState == 'browsing'">
                        <h5>Summoners Online:</h5>

                        <!-- Online Users List -->
                        <div v-if="usersOnline && chat">
                            <div v-for="(user, index) in usersOnline" @click.prevent.stop="contextMenuHandler($event, user)" v-if="chat.userData">
                                <!-- Yourself / Current User -->
                                <div class="chat summoner-row self" v-if="(user['.key'] == chat.userData.name || user['.key'].toLowerCase() == chat.userData.name.toLowerCase()) && user.isOnline">
                                    <a class="summoner-link">{{ index + 1 }}) {{ user['.key'] }} <span class="you">(you)</span></a>
                                </div>
                                <!-- Other Users -->
                                <div class="chat summoner-row opponent" v-if="(user['.key'] !== chat.userData.name && user['.key'].toLowerCase() !== chat.userData.name.toLowerCase()) && user.wallet && user.isOnline">
                                    <a class="summoner-link">{{ index + 1 }}) {{ user['.key'] }}</a>
                                </div>
                            </div>
                        </div>

                        <!-- Context Menu Pop-over -->
                        <vue-simple-context-menu
                            :element-id="'testnet_challenge_menu'"
                            :options="testnetContextMenuOptions"
                            :ref="'chatContextMenu'"
                            @option-clicked="contextMenuResolver"
                        >
                        </vue-simple-context-menu>

                    </div>

                    <!-- Active Chat Window -->
                    <div class="duel-requests pending" v-if="pendingDuelRequests.length">

                        <h5 class="pending-duel-requests title">Pending Duel Simulations:</h5>

                        <!-- List Pending Duels -->
                        <pending-duel class="pending-duel-card" v-for="(pending, index) in pendingDuelRequests" v-bind:key="pending.roomId">

                            <div slot="header">
                                <h5>You've been challenged!</h5>
                            </div>
                            <div slot="body">
                                <vs-row>
                                    <!-- Challenger Wizard -->
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="left" vs-w="12" v-if="pending.wizardChallenging">
                                        <vs-row class="pending-type-label">Challenger:</vs-row>

                                        <vs-row>
                                            <vs-avatar class="pending-opponnent" size="35px" :src="pending.wizardChallenging.image" v-if="pending.wizardChallenging.image"/>
                                        </vs-row>

                                        <vs-row>#{{ pending.wizardChallenging.id }} - <img class="icon" :src="'img/icons/' + affinities[pending.wizardChallenging.affinity].toLowerCase() + '.svg'" v-if="pending.wizardChallenging.affinity !== 0"> - {{ getPrettyPowerLevel(pending.wizardChallenging.power) }}</vs-row>
                                    </vs-col>

                                    <!-- VS. -->
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                                        <span class="pending-vs">
                                            <strong>VS.</strong>
                                        </span>
                                    </vs-col>

                                    <!-- Challenged Wizard -->
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="right" vs-w="12" v-if="pending.wizardChallenged">
                                        <vs-row class="pending-type-label">You:</vs-row>

                                        <vs-row>
                                            <vs-avatar class="pending-wizard" size="35px" :src="pending.wizardChallenged.image" v-if="pending.wizardChallenged.image"/>
                                        </vs-row>

                                        <vs-row>#{{ pending.wizardChallenged.id }} - <img class="icon" :src="'img/icons/' + affinities[pending.wizardChallenged.affinity].toLowerCase() + '.svg'" v-if="pending.wizardChallenged.affinity !== 0"> - {{ getPrettyPowerLevel(pending.wizardChallenged.power) }}</vs-row>
                                    </vs-col>

                                </vs-row>
                            </div>
                            <div slot="footer">
                                <div class="pending-challenge-footer">
                                    <button class="btn btn-danger btn-decline-challenge" @click="declineChallenge(index)">Decline</button>
                                    <button class="btn btn-inverse btn-accept-challenge" @click="acceptChallenge(index)">Accept</button>
                                </div>
                            </div>

                        </pending-duel>
                    </div>

                    <div class="duel-requests unresolved" v-if="activeDuelSimulation">

                        <h5 class="pending-duel-requests title">Active Duel:</h5>

                        <!-- List Pending Duels -->
                        <pending-duel class="pending-duel-card unresolved">

                            <div slot="header">
                                <h5>Let's Duel!</h5>
                            </div>
                            <div slot="body">
                                <vs-row>
                                    <!-- Challenger Wizard -->
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="left" vs-w="12" v-if="activeDuelSimulation.wizardChallenging">
                                        <vs-row class="pending-type-label">Challenger:</vs-row>

                                        <vs-row>
                                            <vs-avatar class="pending-opponnent" size="35px" :src="activeDuelSimulation.wizardChallenging.image" v-if="activeDuelSimulation.wizardChallenging.image"/>
                                        </vs-row>

                                        <vs-row>#{{ activeDuelSimulation.wizardChallenging.id }} - <img class="icon" :src="'img/icons/' + affinities[activeDuelSimulation.wizardChallenging.affinity].toLowerCase() + '.svg'" v-if="activeDuelSimulation.wizardChallenging.affinity !== 0"> - {{ getPrettyPowerLevel(activeDuelSimulation.wizardChallenging.power) }}</vs-row>
                                    </vs-col>

                                    <!-- VS. -->
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                                        <span class="pending-vs">
                                            <strong>VS.</strong>
                                        </span>
                                    </vs-col>

                                    <!-- Challenged Wizard -->
                                    <vs-col vs-type="flex" vs-justify="center" vs-align="right" vs-w="12" v-if="activeDuelSimulation.wizardChallenged">
                                        <vs-row class="pending-type-label">You:</vs-row>

                                        <vs-row>
                                            <vs-avatar class="pending-wizard" size="35px" :src="activeDuelSimulation.wizardChallenged.image" v-if="activeDuelSimulation.wizardChallenged.image"/>
                                        </vs-row>

                                        <vs-row>#{{ activeDuelSimulation.wizardChallenged.id }} - <img class="icon" :src="'img/icons/' + affinities[activeDuelSimulation.wizardChallenged.affinity].toLowerCase() + '.svg'" v-if="activeDuelSimulation.wizardChallenged.affinity !== 0"> - {{ getPrettyPowerLevel(activeDuelSimulation.wizardChallenged.power) }}</vs-row>
                                    </vs-col>

                                </vs-row>
                            </div>
                            <div slot="footer">
                                <div class="pending-challenge-footer unresolved">
                                    <button class="btn btn-inverse btn-go-to-duel" @click="proceedToDuel()">Proceed to Duel</button>
                                </div>
                            </div>

                        </pending-duel>
                    </div>
                </div>

                <!-- Footer - Chat Box Input -->
            </sidebar>
            <!-- End Chat Component (Sidebar) -->

            <!-- Setup Chat Wizard Challenge Modals -->
            <!---->
            <!-- 1 : Choose From Opponent Wizards-->
            <modal v-if="chatChallengeModal_step1" @close="chatChallengeModal_step1 = false">
                <!-- Custom Modal Overrides -->
                <h3 slot="header">Which opponent Wizard would you like to challenge?</h3>
                <div slot="body">
                    <div class="wizard-card-block-item wizard-card-block-item-outer" v-for="wizard in selectedWizardsByAddress" v-if="selectedWizardsByAddress.length">
                        <div class="wizard-card-block-item">
                            <!-- Wizard Image -->
                            <a v-on:click="selectChallengeWizard(wizard.id, true); chatChallengeModal_step1 = false;">
                                <div class="wizard-card wizard-card-img">
                                    <div class="cheese-wizard-image selected-by-address-owned-img" :style="'background-image: url(' + wizard.image + ')'" v-if="wizard.image"></div>
                                    <!-- Card Label (Link Text) -->
                                    <div class="wizard-card wizard-card-label">
                                        <p>Wizard #{{ wizard.id }} - <img class="icon" :src="'img/icons/' + affinities[wizard.affinity].toLowerCase() + '.svg'" v-if="wizard.affinity !== 0"> - {{ getPrettyPowerLevel(wizard.power) }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div v-if="!selectedWizardsByAddress.length">
                        <p>This user doesn't own any wizards, sorry!</p>
                    </div>
                </div>
            </modal>

            <!-- 2 : Choose From Opponent Wizards-->
            <modal v-if="chatChallengeModal_step2" @close="chatChallengeModal_step2 = false">
                <!-- Custom Modal Overrides -->
                <h3 slot="header">Which Wizard would you like to send into battle?</h3>
                <div slot="body">
                    <div class="wizard-card-block-item wizard-card-block-item-outer" v-for="wizard in tokens.mainnet.wizards" v-if="tokens.mainnet.wizards.length">
                        <div class="wizard-card-block-item">
                            <!-- Wizard Image -->
                            <a v-on:click="selectChallengeWizard(wizard.id, false); chatChallengeModal_step2 = false;">
                                <div class="wizard-card wizard-card-img">
                                    <div class="cheese-wizard-image selected-by-address-opponent-img" :style="'background-image: url(' + wizard.image + ')'" v-if="wizard.image"></div>
                                    <!-- Card Label (Link Text) -->
                                    <div class="wizard-card wizard-card-label">
                                        <p>Wizard #{{ wizard.id }} - <img class="icon" :src="'img/icons/' + affinities[wizard.affinity].toLowerCase() + '.svg'" v-if="wizard.affinity !== 0"> - {{ getPrettyPowerLevel(wizard.power) }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div v-if="!tokens.mainnet.wizards.length">
                        <p>You don't own any wizards, sorry!</p>
                    </div>
                </div>
            </modal>

            <!-- 3 : Review and Send Challenge -->
            <modal v-if="chatChallengeModal_step3" @close="chatChallengeModal_step3 = false">
                <!-- Custom Modal Overrides -->
                <h3 slot="header">Review your challenge</h3>
                <div slot="body">
                    <div class="wizard-card-block-item wizard-card-block-item-outer">

                        <!-- Your Wizard -->
                        <div class="wizard-card-block-item">
                            <!-- Wizard Image -->
                            <h5>Your Wizard</h5>
                            <div class="wizard-card wizard-card-img">
                                <div class="cheese-wizard-image selected-by-address-owned-img" :style="'background-image: url(' + currentWizard.image + ')'" v-if="currentWizard.image"></div>
                                <!-- Card Label (Link Text) -->
                                <div class="wizard-card wizard-card-label">
                                    <p><span v-if="currentWizard.specialPower">{{ currentWizard.specialPower }}</span> Wizard #{{ currentWizard.id }} - <img class="icon" :src="'img/icons/' + affinities[currentWizard.affinity].toLowerCase() + '.svg'" v-if="currentWizard.affinity !== 0"> - {{ getPrettyPowerLevel(currentWizard.power) }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- VS. -->
                        <div style="display: inline;">
                            <div class="duel-review-vs">
                                <p>
                                    <strong>VS.</strong>
                                </p>
                            </div>
                        </div>

                        <!-- Challenged Wizard -->
                        <div class="wizard-card-block-item">
                            <!-- Wizard Image -->
                            <h5>Challenged Wizard</h5>
                            <div class="wizard-card wizard-card-img">
                                <div class="cheese-wizard-image selected-by-address-opponent-img" :style="'background-image: url(' + currentOpposingWizard.image + ')'" v-if="currentWizard.image"></div>
                                <!-- Card Label (Link Text) -->
                                <div class="wizard-card wizard-card-label">
                                    <p><span v-if="currentOpposingWizard.specialPower">{{ currentOpposingWizard.specialPower }}</span> Wizard #{{ currentOpposingWizard.id }} - <img class="icon" :src="'img/icons/' + affinities[currentOpposingWizard.affinity].toLowerCase() + '.svg'" v-if="currentOpposingWizard.affinity !== 0"> - {{ getPrettyPowerLevel(currentOpposingWizard.power) }}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Submit Challenge -->
                    <div class="row" v-if="!this.chatDuelChallengeConfig.isSending">
                        <button class="modal-default-button btn btn-inverse submit-duel-challenge" @click="submitChallenge();">Submit Duel Challenge</button>
                    </div>

                </div>

            </modal>
            <!---->
            <!-- End Wizard Challenge Modals -->

            <h2 class="tk-exocet text-center leaderboard">Leaderboard</h2>

            <div class="row view-all-wizards leaderboard">
                <div class="all-wizards">


                    <h4 class="tk-exocet">Top Wizards</h4>
                    <p v-if="isLoading">Loading Wizards...</p>
                    <div class="row paginated-wizards" v-else>

                        <!-- Top 4 Wizards By Power Level -->
                        <div class="col-md-4 col-lg-3" v-for="(wizard, index) in topFourWizardsByPower">
                            <div 
                                v-bind:class="['card', 'mb-3', 'affinity-' + affinities[wizard.affinity].toLowerCase(), 'power-' + wizard.power, (getPrettyPowerLevel(wizard.power) < 1) ? 'dead' : '']"
                                v-on:click="showWizard(wizard.id);">
                                <div class="card-img-top" :style="'background-image: url(' + getWizardImageUrl(wizard.id) + ');'">
                                    <div class="card-img-overlay d-flex justify-content-end">
                                        <img class="icon" :src="getIconUrlForAffinity(wizard.affinity)" v-if="wizard.affinity !== 0">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ affinities[wizard.affinity] }} Wizard #{{ wizard.id }}</h5>
                                    <dl class="card-text row mb-0">
                                        <dt class="col-sm-4">Rank</dt>
                                        <dd class="col-sm-8">{{ getPrettyRank(index + 1) }}</dd>
                                    </dl>
                                    <dl class="card-text row text-muted">
                                        <dt class="col-sm-4">Power</dt>
                                        <dd class="col-sm-8">{{ getPrettyPowerLevel(wizard.power) }}</dd>
                                        <dt class="col-sm-4">Owner</dt>
                                        <dd class="col-sm-8"><a v-on:click="showAllWizardsOfOwner(wizard.owner)">{{ wizard.owner.substring(0, 12) }}&hellip;</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="tk-exocet">Top Elemental Wizards</h4>
                    <p v-if="isLoading">Loading Wizards...</p>
                    <div class="row paginated-wizards" v-else>

                        <!-- Top 4 Elementals By Power Level -->
                        <div class="col-md-4 col-lg-3" v-for="(wizard, index) in topFourElementalsByPower">
                            <div 
                                v-bind:class="['card', 'mb-3', 'affinity-' + affinities[wizard.affinity].toLowerCase(), 'power-' + wizard.power, (getPrettyPowerLevel(wizard.power) < 1) ? 'dead' : '']"
                                v-on:click="showWizard(wizard.id);">
                                <div class="card-img-top" :style="'background-image: url(' + getWizardImageUrl(wizard.id) + ');'">
                                    <div class="card-img-overlay d-flex justify-content-end">
                                        <img class="icon" :src="getIconUrlForAffinity(wizard.affinity)" v-if="wizard.affinity !== 0">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ affinities[wizard.affinity] }} Wizard #{{ wizard.id }}</h5>
                                    <dl class="card-text row mb-0">
                                        <dt class="col-sm-4">Rank</dt>
                                        <dd class="col-sm-8">{{ getPrettyRank(index + 1) }}</dd>
                                    </dl>
                                    <dl class="card-text row text-muted">
                                        <dt class="col-sm-4">Power</dt>
                                        <dd class="col-sm-8">{{ getPrettyPowerLevel(wizard.power) }}</dd>
                                        <dt class="col-sm-4">Owner</dt>
                                        <dd class="col-sm-8"><a v-on:click="showAllWizardsOfOwner(wizard.owner)">{{ wizard.owner.substring(0, 12) }}&hellip;</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="tk-exocet">Top Neutral Wizards</h4>
                    <p v-if="isLoading">Loading Wizards...</p>
                    <div class="row paginated-wizards" v-else>
                        <div class="col-md-4 col-lg-3" v-for="(wizard, index) in topFourNeutralsByPower">
                            <div 
                                v-bind:class="['card', 'mb-3', 'affinity-' + affinities[wizard.affinity].toLowerCase(), 'power-' + wizard.power, (getPrettyPowerLevel(wizard.power) < 1) ? 'dead' : '']"
                                v-on:click="showWizard(wizard.id);">
                                <div class="card-img-top" :style="'background-image: url(' + getWizardImageUrl(wizard.id) + ');'">
                                    <div class="card-img-overlay d-flex justify-content-end">
                                        <img class="icon" :src="getIconUrlForAffinity(wizard.affinity)" v-if="wizard.affinity !== 0">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ affinities[wizard.affinity] }} Wizard #{{ wizard.id }}</h5>
                                    <dl class="card-text row mb-0">
                                        <dt class="col-sm-4">Rank</dt>
                                        <dd class="col-sm-8">{{ getPrettyRank(index + 1) }}</dd>
                                    </dl>
                                    <dl class="card-text row text-muted">
                                        <dt class="col-sm-4">Power</dt>
                                        <dd class="col-sm-8">{{ getPrettyPowerLevel(wizard.power) }}</dd>
                                        <dt class="col-sm-4">Owner</dt>
                                        <dd class="col-sm-8"><a v-on:click="showAllWizardsOfOwner(wizard.owner)">{{ wizard.owner.substring(0, 12) }}&hellip;</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4 class="tk-exocet">Highest Growth Elementals</h4>
                    <p v-if="isLoading">Loading Wizards...</p>
                    <div class="row paginated-wizards" v-else>
                        <div class="col-md-4 col-lg-3" v-for="(wizard, index) in topFourElementalsByGrowth">
                            <div 
                                v-bind:class="['card', 'mb-3', 'affinity-' + affinities[wizard.affinity].toLowerCase(), 'power-' + wizard.power, (getPrettyPowerLevel(wizard.power) < 1) ? 'dead' : '']"
                                v-on:click="showWizard(wizard.id);">
                                <div class="card-img-top" :style="'background-image: url(' + getWizardImageUrl(wizard.id) + ');'">
                                    <div class="card-img-overlay d-flex justify-content-end">
                                        <img class="icon" :src="getIconUrlForAffinity(wizard.affinity)" v-if="wizard.affinity !== 0">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ affinities[wizard.affinity] }} Wizard #{{ wizard.id }}</h5>
                                    <dl class="card-text row mb-0">
                                        <dt class="col-sm-4">Rank</dt>
                                        <dd class="col-sm-8">{{ getPrettyRank(index + 1) }}</dd>
                                    </dl>
                                    <dl class="card-text row text-muted">
                                        <dt class="col-sm-4">Power</dt>
                                        <dd class="col-sm-8">{{ getPrettyPowerLevel(wizard.power) }}</dd>
                                        <dt class="col-sm-4">Owner</dt>
                                        <dd class="col-sm-8"><a v-on:click="showAllWizardsOfOwner(wizard.owner)">{{ wizard.owner.substring(0, 12) }}&hellip;</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="tk-exocet">Highest Growth Neutrals</h4>
                    <p v-if="isLoading">Loading Wizards...</p>
                    <div class="row paginated-wizards" v-else>
                        <div class="col-md-4 col-lg-3" v-for="(wizard, index) in topFourNeutralsByGrowth">
                            <div 
                                v-bind:class="['card', 'mb-3', 'affinity-' + affinities[wizard.affinity].toLowerCase(), 'power-' + wizard.power, (getPrettyPowerLevel(wizard.power) < 1) ? 'dead' : '']"
                                v-on:click="showWizard(wizard.id);">
                                <div class="card-img-top" :style="'background-image: url(' + getWizardImageUrl(wizard.id) + ');'">
                                    <div class="card-img-overlay d-flex justify-content-end">
                                        <img class="icon" :src="getIconUrlForAffinity(wizard.affinity)" v-if="wizard.affinity !== 0">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ affinities[wizard.affinity] }} Wizard #{{ wizard.id }}</h5>
                                    <dl class="card-text row mb-0">
                                        <dt class="col-sm-4">Rank</dt>
                                        <dd class="col-sm-8">{{ getPrettyRank(index + 1) }}</dd>
                                    </dl>
                                    <dl class="card-text row text-muted">
                                        <dt class="col-sm-4">Power</dt>
                                        <dd class="col-sm-8">{{ getPrettyPowerLevel(wizard.power) }}</dd>
                                        <dt class="col-sm-4">Owner</dt>
                                        <dd class="col-sm-8"><a v-on:click="showAllWizardsOfOwner(wizard.owner)">{{ wizard.owner.substring(0, 12) }}&hellip;</a></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


    </div>
</div>
<!-- Footer -->
<footer>
    <div class="footer-descr home">
        <div class="footer left">
            <span class="navbar-brand mb-0 h1 tk-exocet footer">
                <a href="https://twitter.com/cheezeofinsight" target="_blank">COI</a>
            </span>2019
        </div>
        <div class="footer right">
            <ul class="footer list-inline">
                <li class="list-inline-item">
                    <a class="footer-link" href="https://cheezeofinsight.com/policy/tos.html">Terms Of Service</a>
                </li>
                <li class="list-inline-item">
                    <a class="footer-link" href="https://cheezeofinsight.com/policy/privacy.html">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>


    <!-- Template For Sidebar Component -->
    <script type="text/x-template" id="sidebar-template">
        <div id="parentx">
            <slot name="menu-items"></slot>
            <img id="close_sidebar" src="img/icons/chat.svg" class="icon chat-icon sidebar-ctrlr" @click="showSidebar = !showSidebar;">
            <vs-sidebar position-right parent="body" default-index="1"  color="primary" class="sidebarx" spacer v-model="showSidebar">

                <!-- Sidebar Header -->
                <slot class="header-sidebar" name="header">
                    <vs-avatar  size="70px" src="https://randomuser.me/api/portraits/men/85.jpg"/>
                    <h4>Title</h4>
                </slot>

                <!-- Main Content -->
                <slot name="body">Body</slot>

                <!-- Footer -->
                <div class="footer-sidebar" slot="footer">
                    <p></p>
                </div>

            </vs-sidebar>
        </div>
    </script>
    <!-- End Sidebar Template -->

    <!-- Template For Modal Component -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask" @click="$emit('close')">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <!-- Header Slot -->
                        <div class="modal-header">
                            <slot name="header"></slot>
                        </div>
                        <!-- Body Slot -->
                        <div class="modal-body">
                            <slot name="body"></slot>
                        </div>
                        <!-- Footer Slot -->
                        <div class="modal-footer">
                            <slot name="footer">
                                <button id="modal_close" class="modal-default-button btn btn-inverse" @click="$emit('close')">
                                    <slot name="footer">Close</slot>
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
    <!-- End Modal Template -->

    <!-- Begin Notifications Template -->
    <script type="text/x-template" id="notification-template">
        <div class="con-notifications-position">
            <slot name="notification" @click="$vs.notify({title:'Position top-right',text:'Lorem ipsum dolor sit amet, consectetur',color:'success',position:'top-right'})" color="success" type="flat">Notification</slot>
        </div>
    </script>
    <!-- End Notifications Template -->

    <!-- Begin Duel Request Template -->
    <script type="text/x-template" id="duel-request-template">
        <vs-row vs-justify="center">
            <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="12">
                <vs-card>
                    <slot name="header">
                        <h3>Title</h3>
                    </slot>
                    <slot name="body">
                        <span>Body</span>
                    </slot>
                    <slot name="footer">
                        <vs-row vs-justify="flex-end">Footer</vs-row>
                    </slot>
                </vs-card>
            </vs-col>
        </vs-row>
    </script>
    <!-- End Duel Request Template -->

    <script type="text/javascript" src="build/app.js"></script>
</body>
</html>
